@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
    --main-color: #000000;
    --secondary-color: #0630e8;
    --accent-color: #f9f900;
}

body {
    font-size: 20px;
    background-color: #c0c0c0ac;
}



.top-panel {
    position: sticky;
    z-index: 22;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: var(--secondary-color);
    margin-bottom: 20px;
    border-radius: 5px;
}

.search-form {
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-top: -30px;
    margin-left: -30px;
}

.gallery__item {
    margin-top: 30px;
    margin-left: 30px;
}

.photo-card {
   
    border: 1px solid #000000;
    border-radius: 15px;
    overflow: hidden;
}

button {
    width: 100px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--main-color);
    border-radius: 25px;
    cursor: pointer;
    
}

button:hover {
    font-weight: 150;
    font-size: smaller;
    
}

.search-form__btn-search {
    margin-left: 5px;
}

.search-form__load-more {
    width: 200px;
    margin-left: 20px;
    margin-right: auto;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    
}

.info-item:not(:last-child) {
    margin-right: 10px;
}

.info-item {
    position: relative;
    width: auto;
}

// .info-item.likes::before {
//     position: absolute;
//     top: -30px;
//     right: 5px;
//     content: '';
//     background-repeat: no-repeat;
//     background-size: contain;
//     width: 30px;
//     height: 30px;
// }

// .info-item.comments::before {
//     position: absolute;
//     top: -30px;
//     right: 30px;
//     content: '';
//     background-repeat: no-repeat;
//     background-size: contain;
//     filter: hue-rotate(90deg);
//     width: 30px;
//     height: 30px;
// }

// .info-item.views::before {
//     position: absolute;
//     top: -30px;
//     right: 15px;
//     content: '';
//     background-repeat: no-repeat;
//     background-size: contain;
//     filter: hue-rotate(90deg);
//     width: 30px;
//     height: 30px;
// }

// .info-item.downloads::before {
//     position: absolute;
//     top: -30px;
//     right: 35px;
//     content: '';
//     background-repeat: no-repeat;
//     background-size: contain;
//     filter: hue-rotate(90deg);
//     width: 30px;
//     height: 30px;
// }

a {
    text-decoration: none;
    color: var(--secondary-color);
}

input {
    margin-left: auto;
    padding: 15px;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    
}

.search-form__load-more:disabled {
    opacity: 0;
    cursor: default;
}